
/* Responsive Design */

@media only screen and (max-width: 900px) {
    
    html{
        scroll-behavior: smooth;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .bitmoji1Img {
      width: 200px;
      height: 200px;
    }

    .hi-text{
        font-size:60px;
        margin: auto;
    } 

    .myNameText{
        font-size:25px;
    }

    .hi-section{
        justify-content: center;
        align-items: center;
        justify-content: flex-start;
    }

    .intro-container{
        flex-direction: column;
        margin-bottom: 150px;
    }

    nav li{
        font-size: 15px;
        margin-left: 30px;
        
    }

    .navigation{
        align-items: center;
    }

    #heb-icon{
        height: 25px;
        width: 25px;
        margin-top: 5px;
    }

    h1{
        font-size: 40px;
    
    }

    .infoAbout{
        font-size: 15px;
        word-spacing: large;
    }

    .aboutMe-container{
        flex-direction: column;
        margin-top: 0;  
        
    }

    .skills-section{
        margin-bottom: 10px;
        z-index: 0;
    }

    .skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    i{
        font-size: 40px;
        margin: 0 5px;
       
    }

    #realMe{
        justify-content: center;
        margin-top: 0;
    }

    .projectContatiner {
        flex-direction: column;
    }

    p {
        font-size: 15px;
        margin: 0 70px;
    }
    
    h6{

        font-size: 10px;
        font-family: 'Titillium Web', sans-serif;
    }
    .skills-section{
        margin-bottom: 170px; 
    }

    .ProfileCard .ProfileImg{
        height: 200px;
        margin-left: 40px;
    }

    .ProfileCard{
        height: 250px;
        width: 200px;
        margin:auto;
    }
    
    .logo {
        width: 150px;
        height: 150px;
    }

    .card {
        margin: 0
    }

    #clkme {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 20px;
    }
}

